@media screen and (max-width: 576px) {
    .menu-bar-container{
        flex-direction: column;
        padding: 110px 0px;
        margin: 0 auto;
        box-shadow: none;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin-top: 20px;
    }
}