@media screen and (max-width: 576px) {
    /* menu-bar-container START */
    .menu-bar-container{
        flex-direction: column;
        padding: 110px 0px;
        margin: 0 auto;
        box-shadow: none;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin-top: 20px;
    }
    /* menu-bar-container END */

    /* banner-section START here */
    .banner-test{
        grid-template-columns: 1fr;
    }
    /* banner-section END here */
}