@media screen and (max-width: 576px) {
    /* menu-bar-container START */
    .menu-bar-container{
        flex-direction: column;
        padding: 110px 0px;
        margin: 0px auto;
        box-shadow: none;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin-top: 20px;
    }
    /* menu-bar-container END */

    /* banner-section START here */
    .goat{
        font-size: 20px;
    }
    .banner-test{
        flex-direction: column-reverse;
    }
    .banner-heading{
        padding: 0px 50px;
        width: 100%;
        max-width: 500px;
        background-color: #fff;
        border: 1px solid;
    }
    .banner-photo{
        margin: 450px 20px 0px 20px;
        max-width: 500px;
        background-color: #fff;
        height: 100%;
        border: 1px solid;
    }
    /* banner-section END here */

    /* banner-section START here */
    .banner-2-aontainer{
        flex-direction: column;
    }
    .banner-2-image{
        margin: 450px 0px 0px 0px;
        width: 490px;
        background-color: #fff;
        height: 100%;
    }
    .banner-2-text{
        text-align: center;
    }
    /* banner-section END here */

    /* online-games-section Start here */
    #online-games-section{
        padding-top: 650px;
    }
    .flex{
        flex-direction: column;
        margin: 0px;
    }
    .online-games-container{
        height: 450px;
    }
    .container{
        text-align: center;
        width: 400px;
    }
    /* online-games-section END here */

    /* play section START here */
    .play-container{
        flex-direction: column;
        margin: 0px auto;
    }
    .play-content{
        margin-top: 430%;
        margin-left: 0px;
        width: 500px;
        text-align: center;
        height: 450px;
    }
    .play-image{
        width: 500px;
        height: 450px;
    }
    #play-tittle{
        width: 400px;
        text-align: center;
        line-height: 40px;
    }
    #common-text{
        width: 400px;
        width: 100%;
        display: block;
        text-align: center;
    }
    /* play section END here */
    #Comments-section{
        padding-top: 2000px;
        width: 500px;
    }
    .comments-container{
        text-align: center;
        flex-direction: column;
    }
    .comment-box{
        width: 100px;
        height: 50px;
    }
    .comment-box img{
        width: 10px;
        height: 10px;
    }
}